@import "tailwindcss";

@theme {
  --font-Josefin: var(--font-josefin), "Josefin Sans", sans-serif;
}

::-webkit-scrollbar { display: none; }

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
button {
  cursor: pointer;
}